.feedback
	background: #f7f7f7
	padding: 15px 0
	min-height: 1312px
	position: relative
	z-index: 1
	+xxl
		padding: 60px 0 80px
	+lg
		padding: 20px 0 80px
	+md
		// min-height: 1250px
		min-height: 100%
	
	&:after
		content: ''
		position: absolute
		bottom: 0
		left: 50%
		transform: translateX(-50%)
		width: 1920px
		height: 610px
		background: url('../img/bg/feedback-bottom.svg') no-repeat center center/cover
		z-index: 0
		+xsm
			background: url('../img/bg/feedback-bottom-mobile.svg') no-repeat center center/cover
			width: 426px
			height: 224px

	&:before
		content: ''
		position: absolute
		bottom: 0
		right: 60px
		width: 830px
		height: 1284px
		background: url('../img/person/doctor.png') no-repeat center center
		background-size: 100% 100%
		z-index: 0
		+xxl
			right: auto
			left: 50%
			transform: translateX(-50%)
			width: 600px
			height: 980px
			object-fit: cover
		+lg
			width: 460px
			height: 712px
		+md
			width: 440px
			height: 681px
		+sm
			width: 360px
			height: 557px




	&__content
		position: relative
		z-index: 10

	&__col-left
		padding-left: 35px
		+xxl
			margin-bottom: 930px
			display: flex
			justify-content: center
		+lg
			margin-bottom: 670px
			padding-left: 15px
		+md
			margin-bottom: 560px
		+sm
			margin-bottom: 440px

	&__row
		+xxl
			justify-content: center


.feedback-form
	display: flex
	flex-direction: column
	align-items: flex-start
	background: #FFFFFF
	border-radius: 40px
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
	padding: 61px 105px 88px 105px
	width: 100%
	max-width: 630px
	+xxl
		// padding: 30px 50px 40px 50px
		padding: 50px 60px 50px 60px
		max-width: 430px
		border-radius: 20px
	+lg
		padding: 30px 30px 40px 30px
		max-width: 390px
	+md
		box-shadow: none
		background: transparent
		border-radius: 0
		padding: 0 0px 60px 0px
		max-width: 100%
	+sm
		// padding: 0 0px 60px 0px
	



	&__title
		font-weight: normal
		font-size: 36px
		line-height: 43px
		color: #6F6F6F
		margin-bottom: 43px
		+xxl
			margin-bottom: 20px
			font-size: 24px
			line-height: 33px
		+lg
			font-size: 28px
			line-height: 34px
			margin-bottom: 30px
		+sm
			font-size: 24px
			line-height: 29px
			color: #6F6F6F
		span
			color: #59ACF4
	&__fields-wrap
		margin-bottom: 9px
		+xxl
			width: 100%
			margin-bottom: 10px

		.input-wrap
			+xxl
				max-width: 100%
				margin-bottom: 20px
			input
				+xxl
					padding: 15px 20px 15px 40px
					font-size: 20px
					line-height: 20px

			input
				+md
					background: transparent

		.input-icon
			+xxl
				width: 25px
				height: 25px

		.icon

	&__btn
		font-size: 18px
		line-height: 22px
		padding: 33.5px 63.5px 27.5px
		margin: 0 auto
		margin-bottom: 32px
		+xxl
			width: 100%
			padding: 20.5px 40px 14.5px
			font-size: 16px
		+lg
			font-size: 16px
		+sm
			font-size: 12px
			line-height: 14px

	&__text
		font-size: 18px
		line-height: 22px
		text-align: center
		color: rgba(111, 111, 111, 0.75)
		margin: 0 auto
		+xxl
			font-size: 14px
		+sm
			font-size: 10px
			line-height: 12px
			text-align: center
		p
			margin-bottom: 0

.advantages-card
	position: absolute
	top: 96px
	left: 50%
	display: flex
	justify-content: space-between
	align-items: flex-start
	width: calc( 100% -  30px)
	height: 347px
	max-width: 1420px
	transform: translateX(calc( -50% + 7px ))
	+xxl
		top: auto
		bottom: -30px
		height: 367px
	+lg
		max-width: 100%
		justify-content: flex-start
		flex-direction: column
		height: auto
	+lg
		bottom: -10px
	+md
		bottom: -10px
	+sm
		bottom: auto
		top: -120px
	+xsm
		top: 20px

	&__item
		background: #FFFFFF
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
		border-radius: 40px
		&:not(:last-child)
			+lg
				margin-bottom: 17px
		&:nth-child(2)
			align-self: center
			margin-top: 25px
			margin-left: -21px
			+lg
				margin-top: 0
				margin-left: 0

			.advantages-card
				&__wrap
					padding: 16.5px 49px 16.5px 71px
					+lg
						padding: 16.5px 71px 16.5px 71px
					+xsm
						padding: 16.5px 70px 16.5px 25px
					&:after
						+xsm
							left: auto
							right: 29px
					&:before
						+xsm
							left: auto
							right: 15px
				&__text
					+xsm
						text-align: right


		&:nth-child(3)
			align-self: flex-end
			+lg
				align-self: flex-start

	&__wrap
		padding: 16.5px 49px 16.5px 80px
		position: relative
		+lg
			// padding: 16.5px 49px 16.5px 71px

		&:before
			content: ''
			position: absolute
			top: 50%
			left: 15px
			width: 45px
			height: 45px
			background: rgba(63, 140, 224, 0.2)
			transform: translateY(-50%)
			border-radius: 50%
		&:after
			content: ''
			position: absolute
			top: 50%
			left: 29px
			width: 17px
			height: 17px
			background: #3F8CE0
			transform: translateY(-50%)
			border-radius: 50%

	&__text
		font-weight: normal
		font-size: 18px
		line-height: 22px
		color: #6F6F6F
		br
			+lg
				// display: none

