.composition
	position: relative
	padding: 65px 0 344px
	background: url(../img/composition/bg.jpg) no-repeat top center
	background-size: 1920px auto
	+xxl
		padding: 65px 0 274px
	+xl
		padding: 65px 0 230px
	+lg
		padding: 65px 0 250px
	+md
		padding: 65px 0 115pxw
	
	&__title
		text-align: center
		margin-bottom: 133px
		+xxl
			margin-bottom: 100px
		+xl
			margin-bottom: 80px
	
	&__illustration
		position: relative
		display: flex
		align-items: center
		justify-content: center
		width: 746px
		height: 746px
		margin: 0 auto 72px
		z-index: 1
		+xxl
			width: 620px
			height: 620px
		+xl
			width: 520px
			height: 520px
		+lg
			width: auto
			height: auto
			flex-wrap: wrap
			align-items: flex-start
			margin-left: -15px
			margin-right: -15px
			margin-bottom: 0
		&::before,
		&::after
			content: ''
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			border-radius: 50%
			border: 1px solid #fff
			z-index: -1
			+lg
				display: none
		&::before
			width: 100%
			height: 100%
		&::after
			width: 57%
			height: 57%
	
	&__capsule
		position: relative
		margin: 113px 0 0 -42px
		+lg
			width: 100%
			margin: 30px 0 40px
			padding: 80px 0
			border-top: 1px solid #fff
			border-bottom: 1px solid #fff
		+sm
			margin: 20px 0 30px
			padding: 70px 0
		&::before
			content: ''
			position: absolute
			bottom: 97px
			right: 40px
			width: 635.28px
			height: 65.78px
			background: rgba(0, 0, 0, 0.25)
			filter: blur(50px)
			transform: rotate(-15deg)
			+lg
				bottom: 90px
				right: 90px
				width: 295.28px
				height: 45.78px
				filter: blur(34px)
				background: rgba(0, 0, 0, 0.25)

		img
			width: 973px
			max-width: none
			+xxl
				width: 770px
			+xl
				width: 670px
			+lg
				display: block
				width: 570px
				margin: 0 auto
			+md
				width: 490px
			+sm
				width: 340px


	&__bottom-text
		display: flex
		align-items: center
		justify-content: center
		color: #ffffff
		padding-left: 74px
		+lg
			padding-left: 0
		&-col
			&:nth-child(1)
				font-size: 144px
				line-height: 144px
				margin-right: 60px
				+xxl
					font-size: 115px
					line-height: 115px
				+xl
					font-size: 90px
					line-height: 90px
					margin-right: 40px
				+md
					font-size: 84px
					line-height: 84px
				+sm
					font-size: 64px
					line-height: 64px
					margin-right: 20px
			&:nth-child(2)
				font-size: 28px
				line-height: 34px
				margin-bottom: 16px
				+xxl
					font-size: 24px
					line-height: 32px
				+xl
					font-size: 20px
					line-height: 28px
				+md
					font-size: 18px
					line-height: 24px
					br
						display: none
				+sm
					font-size: 14px
					line-height: 20px
					margin-bottom: 3px


.composition-item
	display: flex
	align-items: center
	width: 520px
	z-index: 2
	+min_lg
		position: absolute
	+lg
		flex-direction: column
		text-align: center
		+make-col-ready()
		+make-col(4)
	&__icon
		display: flex
		align-items: center
		justify-content: center
		min-width: 76px
		width: 76px
		height: 76px
		margin-right: 10px
		border-radius: 50%
		border: 1px solid #fff
		+xxl
			min-width: 65px
			width: 65px
			height: 65px
		+xl
			min-width: 57px
			width: 57px
			height: 57px
		+lg
			margin-right: 0
			margin-bottom: 20px
		.icon
			width: 36px
			height: 36px
			fill: #ffffff
			+xxl
				width: 31px
				height: 31px
			+xl
				width: 28px
				height: 28px
	&__desc
		font-size: 24px
		line-height: 29px
		color: #ffffff
		margin-top: 6px
		+xxl
			font-size: 20px
			line-height: 25px
		+xl
			max-width: 210px
			font-size: 18px
			line-height: 20px
			margin-top: 0
		+sm
			max-width: 210px
			font-size: 14px
			line-height: 16px
			margin-top: 0


	+min_lg
		// positions
		&:nth-child(1)
			top: 7px
			right: -288px
			+xxl
				top: -17px
				right: -270px
			+xl
				top: 15px
				right: -374px
			.composition-item__icon
				background: #73b8ef

		&:nth-child(2)
			top: 567px
			right: -401px
			+xxl
				top: 539px
				right: -341px
			+xl
				top: 466px
				right: -341px
			.composition-item__icon
				background: #387fb7

		&:nth-child(3)
			top: 335px
			left: -296px
			+xxl
				top: 262px
				left: -247px
			+xl
				top: 182px
				left: -220px
			.composition-item__icon
				background: #73b5e9
			.composition-item__desc
				order: -1
				margin-right: 26px