.use
	position: relative
	padding: 162px 0 126px
	z-index: 2
	+xxl
		padding: 162px 0 100px
	+lg
		padding: 140px 0 75px
	+md
		padding: 85px 0
		&::before
			content: ''
			position: absolute
			top: -50px
			left: 40px
			width: 98px
			height: 98px
			border-radius: 50%
			background: #F0F5FB
			box-shadow: 0px 15px 100px rgba(0, 0, 0, 0.25)
	+sm
		&::before
			left: 20px


	&__bg
		position: absolute
		top: -580px
		left: 50%
		width: 1920px
		height: 649px
		transform: translateX(-50%)
		overflow: hidden
		+xxl
			top: -454px
			width: 1500px
			height: 507px
		+xl
			top: -366px
			width: 1200px
			height: 406px
		+lg
			top: -302px
			width: 992px
			height: 335px
		+md
			display: none
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: url(../img/use/bg.png) no-repeat top center
			background-size: 100% 100%

	&__title
		color: #6F6F6F
		margin-bottom: 50px
		+lg
			margin-bottom: 35px
			br
				display: none

	&__desc
		max-width: 577px
		font-size: 24px
		line-height: 33px
		color: #6F6F6F
		margin-bottom: 92px
		+xxl
			max-width: 437px
			font-size: 22px
			line-height: 31px
			margin-bottom: 75px
		+xl
			max-width: 370px
			font-size: 19px
			line-height: 28px
			margin-bottom: 60px
			br
				display: none
		+lg
			max-width: none
			font-size: 18px
			line-height: 27px
			margin-bottom: 40px
		+md
			font-size: 16px
			line-height: 22px
		+sm
			font-size: 14px
			line-height: 20px

	&__btn
		+lg
			display: none
	&__btn2
		display: none
		+lg
			display: inline-block

	&__capsule
		position: relative
		margin: -64px 0 64px 7px
		+xl
			margin: -30px 0 80px 7px
		+lg
			max-width: 455px
			margin: 40px auto 250px
		+md
			max-width: 350px
			transform: translateX(30px)
		+sm
			max-width: 312px
			margin: 40px auto 230px
			transform: translateX(13px)
		
		&::before
			content: ''
			position: absolute
			bottom: 0
			right: 15%
			width: 229px
			height: 229px
			border-radius: 50%
			background: rgba(63, 140, 224, 0.15)
			filter: blur(60px)
			+xl
				right: 18%
				bottom: -30px
				width: 210px
				height: 210px
			+lg
				right: 21%
				bottom: -30px
				width: 190px
				height: 190px
	
		&-img
			position: relative
			width: 589px
			height: 517px
			z-index: -1
			+xxl
				width: 430px
				height: 376px
			+xl
				width: 353px
				height: 299px
			+md
				width: 232px
				height: 215px
			img
				position: absolute
				top: 0
				left: 0
				width: 100%
				transition: all .8s ease
				opacity: 0
				visibility: hidden
				&:nth-child(1)
				&:nth-child(2)
				&.active
					opacity: 1
					visibility: visible

	&__tabs
		max-width: 439px
		float: right
		+xxl
			max-width: 370px
		+xl
			max-width: 300px
		+lg
			max-width: 100%
			margin-bottom: 50px


	&__btns
		+lg
			text-align: center







.use-item
	position: absolute
	display: flex
	&__number
		font-size: 144px
		line-height: 144px
		color: #59ACF4
		font-weight: 300
		+xxl
			font-size: 115px
			line-height: 115px
		+xl
			font-size: 90px
			line-height: 90px
		+lg
			font-size: 80px
			line-height: 80px
		+md
			font-size: 70px
			line-height: 70px

	&__content
	&__title
		font-size: 24px
		line-height: 29px
		font-weight: 600
		color: #6F6F6F
		margin-top: 5px
		margin-bottom: 17px
		+xxl
			font-size: 20px
			line-height: 25px
			margin-bottom: 10px
		+xl
			font-size: 17px
			line-height: 22px
			margin-bottom: 7px
	&__desc
		font-size: 18px
		line-height: 22px
		color: rgba(111, 111, 111, 0.75)
		+xxl
			font-size: 16px
			line-height: 20px
		+sm
			font-size: 14px
			line-height: 18px

	&:nth-child(1)
		top: 26px
		right: 12px
		align-items: center
		+xxl
			top: 19px
			right: 0
		+xl
			top: 16px
			right: 0
		+md
			top: -25px
		.use-item__number
			margin-right: 15px
			+sm
				margin-right: 10px

	&:nth-child(2)
		bottom: -118px
		left: -70px
		flex-direction: column
		+xxl
			bottom: -111px
			left: -55px
		+md
			bottom: -150px
			left: -32px
		+sm
			bottom: -139px
			left: -22px
		.use-item
			&__number
				margin-bottom: 6px
			&__content
				padding-left: 21px
				+sm
					padding-left: 5px






// tabs
.tabs
	&__control
		position: relative
		&::before
			content: ''
			position: absolute
			bottom: 3px
			left: 0
			width: 100%
			height: 1px
			background: rgba(111, 111, 111, 0.25)
	&__list
		display: flex
		align-items: center
		justify-content: space-between
	&__item
	&__link
		position: relative
		display: block
		color: $c1
		font-size: 24px
		line-height: 29px
		font-weight: 700
		text-transform: uppercase
		color: rgba(111, 111, 111, 0.25)
		padding-bottom: 31px
		text-align: center
		border-bottom: 3px solid transparent
		+xxl
			font-size: 18px
			line-height: 23px
			padding-bottom: 15px
		+xl
			font-size: 16px
			line-height: 21px
			padding-bottom: 10px
		+lg
			font-size: 18px
			line-height: 23px
			padding-bottom: 12px
		&:hover,
		&--active
			color: rgba(111, 111, 111, 0.75)
			border-color: #9BD1FF

	&__container
		position: relative
		padding-top: 23px
		+xxl
			padding-top: 17px
		+xl
			padding-top: 15px
	
	.tab
		&__content
			display: none
			opacity: 0
			font-size: 18px
			line-height: 22px
			color: #6F6F6F
			transition: all .8s ease
			+xxl
				font-size: 16px
				line-height: 20px
			+xl
				font-size: 14px
				line-height: 18px
			+lg
				font-size: 16px
				line-height: 20px
			&--active
				display: block
			&--fade_in
				opacity: 1
		&__table
			width: 100%