section.b-faq
	.container
		.row._row
			.col-12.col-lg-4._left-col
				._wrap
					h2._title Часто задаваемые<br> вопросы
					._desc
						p У вас остались вопросы?<br> Получите консультацию<br> специалиста
					._bottom-wrap
						a._feedback-icon.js-popup(href="#request")
							._feedback-icon-wrap
								+icon('phone')
						._img-wrap
							img(src="img/person/doctor2.png", alt="")
			.col-12.col-lg-8._right-col
				h2._mobile-title Часто задаваемые <br>вопросы
				._item
					._item-title Противопоказания
					._item-desc Ribavirin - вырабатывает антитела для борьбы с инфекцией. Понижает шанс вохникновения тошноты, головной боли, диареи, тошноты, коньюктивита и повышения температуры.
				._item
					._item-title Кому подходит?
					._item-desc Ribavirin - вырабатывает антитела для борьбы с инфекцией. Понижает шанс вохникновения тошноты, головной боли, диареи, тошноты, коньюктивита и повышения температуры.
				._item
					._item-title Побочные эффекты
					._item-desc Ribavirin - вырабатывает антитела для борьбы с инфекцией. Понижает шанс вохникновения тошноты, головной боли, диареи, тошноты, коньюктивита и повышения температуры.
				._item
					._item-title Передозировка
					._item-desc Ribavirin - вырабатывает антитела для борьбы с инфекцией. Понижает шанс вохникновения тошноты, головной боли, диареи, тошноты, коньюктивита и повышения температуры.