section.b-feedback
	._content
		.container
			.row._row
				.col-12.col-lg-10.col-xl-8.col-xxl-6._col-left
					form.b-feedback-form
						h3._title Получите <span>бесплатную<br> консультацию</span> <br>специалиста
						._fields-wrap
							+input('text', 'name', 'Имя', 'Имя', 'person', true)
							+input('email', 'email', 'Почта', 'Почта', 'email', true)
							+input('text', 'question', 'Вопрос', 'Задайте вопрос', 'question', true)
						button._btn.btn(type="submit") Получить консультацию
						._text
							p Нажмая на конопку, Вы даёте согласие на <br>обработку песональных данных
			.row
				.col-12
					ul.b-advantages-card
						li._item
							._wrap
								._text Улучшение имунной<br> системы
						li._item
							._wrap
								._text Защита от заражения <br>воздушно-капельным путем
						li._item
							._wrap
								._text Снятие первичных<br> симптомов