//- section.b-info
	.container
		.row
			.col-12
				h1._title Описание
				._desc
					p Ribavirin - вырабатывает антитела для борьбы с инфекцией. Понижает шанс вохникновения тошноты, головной боли, диареи, тошноты, коньюктивита и повышения температуры.
				._items-wrap
					._item
						._icon-wrap
							+icon('healthcare')
						._item-text Противопоказания
					._item
						._icon-wrap
							+icon('family')
						._item-text Кому подходит
					._item
						._icon-wrap
							+icon('sleeping-pills')
						._item-text Передозировка
					._item
						._icon-wrap
							+icon('pills')
						._item-text Срок годности