section.b-main
	.container
		.row._row
			._col-left
				h1._title <span>Ribavirin</span> - это надежная защита от Корона Вируса
				h3._sub-title Закажите сейчас, что бы защитить себя и<br> своих близких
				a._btn.btn.js-popup(href="#request") Узнать подробнее
			._col-right
				._img-wrap
					img._img(src="img/product/item1.png", alt="")
		.row
			.col-12
				ul.b-disease
					li._item Кашель
					li._item Лихорадка
					li._item Диарея
					li._item Тошнота
					li._item Головная боль
					li._item Коньюктивит
