section.b-order
	.container
		.row
			.col-12
				h2._title Купи 
					span сейчас 
					| и поспособствуй в <br/> борьбе с Coronaviridae
		
		form.b-order-form._form
			._col
				+input('text', 'name', 'Имя', 'Имя', 'person', true)
				+input('text', 'phone', 'Почта', 'Телефон', 'phone', true)
				+input('text', 'delivery', 'Адрес доставки', 'Адрес доставки', 'delivery', true)
			._col
				.b-qty._qty
					._label Кол-во пачек
					._wrap
						div._minus
							+icon('minus')
						input(type="text", name="qty", data-name="quanty" value="1", readonly)
						div._plus
							+icon('plus')
				
				.b-price._price
					._label Стоимость
					._amount(data-price="49.99")
						span.val 49.99
						span.curr $
				
				button.btn._btn ПЕРЕЙТИ К ОПЛАТЕ

			._delivery
				span Доставка<br/> до
				strong 3-x
				span дней
			
			._logo
				img(src="img/order/medicine.png", alt="")
			
			._shadow

			._logo2
				+icon('logo_short')
		<form id="ya-form" method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
			<input type="hidden" name="receiver" value="4100111725286960">
			<input type="hidden" name="targets" value="Оплата - Ribavirin">
			<input type="hidden" name="label" value="79038774141">
			<input type="hidden" name="sum" value="49.99" data-type="number">
			<input type="hidden" name="comment" value="Иванов Иван (+79038774141)">

			//- options
			<input type="hidden" name="formcomment" value="Проект «Железный человек»: реактор холодного ядерного синтеза">
			<input type="hidden" name="short-dest" value="Проект «Железный человек»: реактор холодного ядерного синтеза">
			<input type="hidden" name="quickpay-form" value="small">
			<input type="hidden" name="need-fio" value="false">
			<input type="hidden" name="need-email" value="false"> 
			<input type="hidden" name="need-phone" value="false">
			<input type="hidden" name="need-address" value="false">
			<input type="hidden" name="paymentType" value="AC">
			//- <input type="submit" value="Перевести">
		</form>