section.b-order
	.container
		.row
			.col-12
				h2._title Купи сейчас и поспособствуй в борьбе с Coronaviridae
		.row
			.col-12
				form.b-order-form
					._row
						._col
							._fields-wrap
								+input('text', 'name', 'name', 'Имя', 'person', true)
								+input('text', 'phone', 'phone', 'Телефон', 'phone', true)
								+input('text', 'delivery', 'delivery', 'Адрес доставки', 'delivery', true)
						._col
							._small-title
							