section.b-composition
	.container
		.row
			.col-12
				h2._title Натуральный состав <br/> препората
		
		.row
			.col-12
				._illustration
					.b-composition-item
						._icon
							+icon('virus')
						._desc Борится более чем с 40 видов вирусов
					.b-composition-item
						._icon
							+icon('sneeze')
						._desc Снижения действующих симптомов
					.b-composition-item
						._icon
							+icon('injection')
						._desc Мера профилактики

					._capsule
						img(src="img/composition/capsule.png", alt="")

		.row
			.col-12
				._bottom-text
					._bottom-text-col 70%
					._bottom-text-col Снижает риск заражения Coronaviridae <br/> после 3-х дней применения