section.b-product
	.container
		.row._row
			._col
				.b-period
					._number 14
					._text Дней
					._info период лечения
			._col
				._img-wrap
					img._img(src="img/product/item2.png", alt="")
			._col
				._title-wrap
					h2._title Ribavirin - выход в профилактике Coronavirus
					._desc
						p Ribavirin - вырабатывает антитела для борьбы с инфекцией.<br> Понижает шанс вохникновения тошноты, головной боли, диареи, тошноты, коньюктивита и повышения температуры.
						p Не имеет противопоказаний по применению. Разрешен для<br> приема детям от 2-х лет, беременным женщинам и<br> пожилым людям.