section.b-use
	._bg
	.container
		.row
			.col-lg-6
				h2._title Способ применения и <br/> форма выпуска
				._desc Неомыляемые соединения авокадо сои  представляют собойатуральные растительные экстракты. изготовленные из одной трети авокадои двух трети неомыляемых соединений соевых бобов

				a(href="#request").btn._btn КУПИТЬ ОНЛАЙН
			
			.col-lg-6
				._capsule
					.b-use-item
						._number 2
						._content
							._title Таблетки <br/> в день
							._desc Во время еды
					
					.b-use-item
						._number 14
						._content
							._title Дней
							._desc Рекомендуемый <br/> курс приема
					
					._capsule-img
						img(src="img/use/capsule.png", alt="").active
						img(src="img/use/capsule2.png", alt="")
				
				.b-tabs._tabs
					._control
						ul._list
							li._item
								a(href="#tab1")._link.-active ФОРМА ВЫПУСКА
							li._item
								a(href="#tab2")._link ПРИМЕНЕНИЕ
					.b-tab._container
						._content.-active.-fade_in#tab1
							p Неомыляемые соединения авокадо сои представляют собойатуральные растительныеэкстракты. изготовленные из одной третиавокадои двух трети неомыляемых соединенийсоевых бобов
						._content.-active#tab2
							p Неомыляемые соединения авокадо сои представляют собойатуральные растительныеэкстракты. изготовленные из одной третиавокадои двух трети неомыляемых соединенийсоевых бобов