section.b-where-buy
	.container
		.row
			.col-12
				h2._title Где купить?
		.row._row
			.col-6
				._item
					._flag
						img(src="img/flags/ukr.png", alt="")
					._flag-name Украина
			.col-6
				._item
					._flag
						img(src="img/flags/kzh.png", alt="")
					._flag-name Казахстан
			.col-6
				._item
					._flag
						img(src="img/flags/brus.png", alt="")
					._flag-name Белорусь
			.col-6
				._item
					._flag
						img(src="img/flags/ukr.png", alt="")
					._flag-name Украина
			.col-6
				._item
					._flag
						img(src="img/flags/kzh.png", alt="")
					._flag-name Казахстан
			.col-6
				._item
					._flag
						img(src="img/flags/brus.png", alt="")
					._flag-name Белорусь
		.row
			.col-12._bottom-col
				a._btn.btn.js-scroll(href="#order") КУПИТ СЕЙЧАС