section.b-where-buy
	.container
		.row
			.col-12
				h2._title Где купить?
		.row
			.col-12
				.where-buy-mobile.owl-carousel
					._col
						._item
							._flag
								img(src="img/flags/ukraine.png", alt="")
							._flag-name Украина
						._item
							._flag
								img(src="img/flags/kzh.png", alt="")
							._flag-name Казахстан
						._item
							._flag
								img(src="img/flags/brus.png", alt="")
							._flag-name Белорусь
					._col
						._item
							._flag
								img(src="img/flags/ukraine.png", alt="")
							._flag-name Украина
						._item
							._flag
								img(src="img/flags/kzh.png", alt="")
							._flag-name Казахстан
						._item
							._flag
								img(src="img/flags/brus.png", alt="")
							._flag-name Белорусь
					._col
						._item
							._flag
								img(src="img/flags/ukraine.png", alt="")
							._flag-name Украина
						._item
							._flag
								img(src="img/flags/kzh.png", alt="")
							._flag-name Казахстан
						._item
							._flag
								img(src="img/flags/brus.png", alt="")
							._flag-name Белорусь
		.row._row
			.col-12.col-lg-6
				._item
					._flag
						img(src="img/flags/ukraine.png", alt="")
					._flag-name Украина
			.col-12.col-lg-6
				._item
					._flag
						img(src="img/flags/kzh.png", alt="")
					._flag-name Казахстан
			.col-12.col-lg-6
				._item
					._flag
						img(src="img/flags/brus.png", alt="")
					._flag-name Белорусь
			.col-12.col-lg-6
				._item
					._flag
						img(src="img/flags/ukraine.png", alt="")
					._flag-name Украина
			.col-12.col-lg-6
				._item
					._flag
						img(src="img/flags/kzh.png", alt="")
					._flag-name Казахстан
			.col-12.col-lg-6
				._item
					._flag
						img(src="img/flags/brus.png", alt="")
					._flag-name Белорусь
		.row
			.col-12._bottom-col
				a._btn.btn.js-scroll(href="#order") КУПИТ СЕЙЧАС