footer.b-footer
	.container
		.row._row
			.col-12.col-lg-3
				a._logo-wrap(href="#")
					img._logo(src="img/logo/footer-logo.svg", alt="")
			.col-12.col-lg-9._right-col
				nav.b-menu
					ul._list
						li._item
							a._link(href="#product") О препорате
						li._item
							a._link(href="#faq") FAQ
						li._item
							a._link(href="#composition") Состав
						li._item
							a._link(href="#order") Купить
				//- a(href="https://showstreams.tv/")
					img(src="https://www.free-kassa.ru/img/fk_btn/18.png", title="Бесплатный видеохостинг", alt="")

|
|
|
// Request popup
.b-mfp.-request-popup.zoom-anim-dialog.mfp-hide#request
	form.b-feedback-form
		h3._title Получите <span>бесплатную<br> консультацию</span> <br>специалиста
		._wrap
			._fields-wrap
				+input('text', 'name', 'Имя', 'Имя', 'person', true)
				+input('email', 'email', 'Почта', 'Почта', 'email', true)
				+input('text', 'question', 'Вопрос', 'Задайте вопрос', 'question', true)
			button._btn.btn(type="submit") Получить консультацию
			._text
				p Нажмая на конопку, Вы даёте согласие на <br>обработку песональных данных
		.b-form-result
			.b-mess
				._title Спасибо!<br> Заявка отправлена
				._desc Наш специалист перезвонит вам<br> в ближайшее время, что бы<br> ответить на вопросы
				._img-wrap
					img._img(src="img/other/small-capsule.png", alt="")

|
|
|
// Success popup
.b-mfp.-succes-popup.zoom-anim-dialog.mfp-hide#success
	.b-form-result.-success
		.b-mess
			._title Спасибо!<br> Заявка отправлена
			._desc Наш специалист перезвонит вам<br> в ближайшее время, что бы<br> ответить на вопросы
			._img-wrap
				img._img(src="img/other/small-capsule.png", alt="")

|
|
|
// Scripts
script(src="js/libs.min.js")
//- script(src='https://www.cbr-xml-daily.ru/daily_json.js', defer)
script(src="js/main.min.js")