.b-loader
	._icon-wrap
		+icon('loader')


header.b-header
	.container
		.row._row
			.col-6.col-lg-3
				a._logo-wrap(href="#")
					img._logo(src="img/logo/logo.svg", alt="")
				button.hamburger.hamburger--slider.js-menu(type='button')
					span.hamburger-box
						span.hamburger-inner

			.col-6.col-lg-9
				nav.b-menu
					ul._list
						li._item
							a._link(href="#product") О препорате
						li._item
							a._link(href="#faq") FAQ
						li._item
							a._link(href="#composition") Состав
						li._item
							a._link(href="#order") Купить
				a._mobile-basket.js-scroll(href="#order")
					+icon('basket')