header.b-header
	.container
		.row._row
			.col-3
				a._logo-wrap(href="#")
					img._logo(src="img/logo/logo.svg", alt="")
			.col-9
				nav.b-menu
					ul._list
						li._item
							a._link(href="#") Кому подходит
						li._item
							a._link(href="#") Применение
						li._item
							a._link(href="#") Состав
						li._item
							a._link(href="#") Форма выпуска
						li._item
							a._link(href="#") Купить