////////// Default btn
.btn
	position: relative
	display: inline-block
	font-weight: 600
	font-size: 20px
	line-height: 20px
	color: #fff
	text-align: center
	text-decoration: none
	padding: 39px 77px 33px
	border-radius: 50px
	border: none
	+gradient_x(#74B8F9, #59ACF4)
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
	outline: none
	text-transform: uppercase
	transition: all .3s ease
	z-index: 1
	+xxl
		font-size: 18px
		line-height: 18px
		padding: 32px 65px 27px
	+xl
		font-size: 16px
		line-height: 16px
		padding: 30px 55px 25px
	+lg
		font-size: 15px
		line-height: 15px
		padding: 29px 70px 25px
	+md
		padding: 27px 70px 23px
	+sm
		font-size: 14px
		line-height: 14px
		padding: 26px 60px 22px
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		opacity: 0
		border-radius: 50px
		+gradient_x(#59ACF4, #74B8F9)
		transition: all .3s ease
		z-index: -1
	&:focus:not(.disabled),
	&:hover:not(.disabled)
		outline: none
		cursor: pointer
		color: #fff
		text-decoration: none
		transform: translateY(-2px)
		&::before
			opacity: 1
	&:active:not(.disabled)
	&.disabled
		opacity: .4
		user-select: none
	// &:after
	// 	content: ''
	// 	position: absolute
	// 	top: 50%
	// 	left: 50%
	// 	transform: translate(-50%, -50%)
	// 	width: 100%
	// 	height: 1px
	// 	background: #fff

// .composition__bottom-text
// 	position: relative
// 	&:after
// 		content: ''
// 		position: absolute
// 		top: 48%
// 		left: 50%
// 		transform: translate(-50%, -50%)
// 		width: 100%
// 		height: 1px
// 		background: #fff

.mac-os
	.btn
		padding: 35.5px 77px 35.5px
		+xxl
			padding: 31px 65px 28px
		+xl
			padding: 28px 55px 27px
		+lg
			padding: 28px 70px 26px
		+md
			padding: 26px 70px 24px
		+sm
			padding: 24px 60px 24px

	.feedback-form__btn
		padding: 31px 77px 30px
		+xxl
			padding: 17.5px 40px 17.5px
		+md
			padding: 18.5px 40px 16.5px


	.where-buy__btn
		padding: 22px 44px 18px
		+xxl
			padding: 20px 44px 20px
		+xl
			padding: 18px 44px 20px
		+lg
			padding: 20px 44px 14px
		+md
			padding: 16px 44px 18px

	.order-form__btn
		padding: 35.5px 77px 35.5px
		+xxl
			padding: 29px 52px 31px
		+xl
			padding: 26px 45px 25px
		+lg
			padding: 27px 60px 26px
		+sm
			padding: 24px 50px 24px

	.use__btn
		+xxl
			padding: 29px 65px 30px
		+xl
			padding: 28px 55px 27px
		+lg
			padding: 29px 70px 25px
		+md
			padding: 27px 70px 23px
		+sm
			padding: 26px 60px 22px
		&2
			+md
				padding: 26px 70px 24px


	.qty__plus,
	.qty__minus
		padding: 0
	.qty__minus
		padding-top: 2px

	.composition__bottom-text-col:nth-child(2)
		margin-bottom: 5px
		+xxl
			margin-bottom: 0