////////// Popup
.mfp
	position: relative
	max-width: 630px
	min-height: 600px
	text-align: left
	padding: 0
	width: 100%
	margin: 2.5rem auto
	background: transparent
	+xxl
		max-width: 430px
		// min-height: 400px
	+lg
		max-width: 390px
	+md
		max-width: 345px

	.mfp-close
		top: 30px
		right: 30px
		opacity: 1
		transition: all .2s ease
		display: flex
		justify-content: center
		align-items: center
		width: 30px
		height: 30px
		min-height: 30px
		+xxl
			right: 18px
			height: 18px
		+lg
			right: 13px
			top: 13px
		+sm
			right: 10px
			top: 10px

		&:hover
			.icon
				fill: rgba(111,111,111, 0.5)
		&:focus
			outline: none
		&:active
			transform: translateY(3px)
		.icon
			width: 30px
			height: 30px
			fill: rgba(111,111,111, .8)
			transition: all 0.3s ease
			pointer-events: none
			+xxl
				width: 18px
				height: 18px


	.feedback-form
		margin: 0 auto
		position: relative
		+md
			padding: 43px 46px 43px 47px
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
			border-radius: 20px
			background: #fff
		&__wrap
			
		&__title
			+md
				font-size: 24px
				line-height: 29px
				margin-bottom: 29px 
		&__desc
		&__fields-wrap
			+xl
				width: 100%
			+md
				width: 100%
				margin-bottom: 25px
		.input-wrap
			+xl
				max-width: 100%
			+md
				margin-bottom: 20px
			&:last-child
				+md
					margin-bottom: 0
			input
				+md
					font-size: 14px
					line-height: 17px
					padding: 12px 25px 12px 45px
		.input-icon
			+md
				left: 6px
			.icon
				+md
					width: 25px
					height: 25px
		&__btn
			+xl
				width: 100%
			+md
				font-size: 12px
				line-height: 14px
				padding: 22px 38px
		&__text
			+md
				font-size: 10px
				line-height: 12px



.form-result
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	background: #fff
	opacity: 0
	padding: 89px 58px 47px
	border-radius: 20px
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
	visibility: hidden
	transition: all .3s ease
	z-index: 1
	+md
		padding: 39px 45px 27px
		border-radius: 20px
		background: #fff !important
	.mess
		&__title
			font-weight: normal
			text-align: center
			color: #6F6F6F
			opacity: 0
			transform: translateY(50px)
			transition: all .6s ease
			font-size: 48px
			line-height: 58px
			margin-bottom: 48px
			+xxl
				font-size: 36px
				line-height: 40px
			+md
				font-size: 24px
				line-height: 29px
				margin-bottom: 23px
			+xsm
				margin-bottom: 5px

		&__desc
			font-weight: normal
			font-size: 24px
			line-height: 29px
			text-align: center
			margin-bottom: 68px
			color: rgba(111, 111, 111, 0.75)
			opacity: 0
			transform: translateY(50px)
			transition: all .6s ease
			+xxl
				font-size: 18px
				line-height: 22px
			+md
				font-size: 12px
				line-height: 14px
				margin-bottom: 34px
		&__img-wrap
			+xxl
				width: 88px
				height: 92px
				margin: 0 auto
			+md
				width: 66px
				height: 70px
	
	// &--success
	&--success
		opacity: 1
		visibility: visible
		.mess__title,
		.mess__desc
			opacity: 1
			transform: translateY(0)
			transition-delay: .1s
		.mess__title
			transition-delay: .2s
		.mess__desc
			transition-delay: .3s