////////// Typography
::selection
	background-color: $c1
	color: #fff

ul
	margin: 0
	padding: 0
	list-style-type: none

a
	transition: all .3s ease
	&:hover
		text-decoration: none
	&:focus
		text-decoration: none
		outline: none

img
	width: auto
	max-width: 100%
	height: auto

// Titles
h1, h2, h3, h4, h5, h6
	// font-family: inherit
	// line-height: 1.1
	// font-weight: 600
	// color: inherit

h1
	font-weight: normal
	font-size: 70px
	line-height: 84px
	color: #6F6F6F
	+xxl
		font-size: 58px
		line-height: 63px
	+xl
		font-size: 52px
		line-height: 55px
	+lg
		font-size: 48px
		line-height: 52px
	+md
		font-size: 42px
		line-height: 45px
	+sm
		font-size: 36px
		line-height: 124.4%


h2
	font-size: 48px
	line-height: 58px
	color: #FFFFFF
	font-weight: normal
	+xxl
		font-size: 42px
		line-height: 52px
	+xl
		font-size: 38px
		line-height: 48px
	+lg
		font-size: 35px
		line-height: 45px
	+md
		font-size: 28px
		line-height: 36px
	+sm
		font-size: 24px
		line-height: 30px
h3
	font-size: 24px
h4
	font-size: 18px
h5
	font-size: 14px
h6
	font-size: 12px

// Paragraphs
p
	// margin-bottom: 1em
	// color: inherit